h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}
.dbl{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.counter{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.more1{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}